.showcontent {
    min-height: 90vh;
    margin: 30px 0;
}

.showwrapper {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.showcontent__textcontent h1 {
    color: #0c0d24;
    font-weight: 900;
    line-height: 1.4em;
    margin-bottom: 35px;
    font-size: 50px;
}

.showcontent__textcontent .text p {
    position: relative;
    color: #0c0d24;
    font-size: 20px;
    opacity: 0.9;
    line-height: 1.6em;
    margin-bottom: 40px;
}

.register-btn {
    position: relative;
    display: inline-block;
    font-size: 16px;
    line-height: 30px;
    color: #ffffff;
    padding: 17px 56px;
    font-weight: 500;
    overflow: hidden;
    border-radius: 10px;
    overflow: hidden;
    background-color: #2b5390;
    text-transform: uppercase;
    height: 70px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.showcontent__textcontent .ant-btn-default:hover {
    color: #000;
}

.showcontent__textcontent .ant-btn-default:hover span {
    position: relative;
    z-index: 1;
}

.showcontent__textcontent .ant-btn-default:hover::before {
    left: -10%;
}

.showcontent__textcontent .ant-btn-default::before {
    position: absolute;
    content: "";
    left: 110%;
    top: 0px;
    width: 120%;
    height: 100%;
    z-index: 0;
    opacity: 1;
    background-color: #ffe00c;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    transform: skewX(-25deg);
}

.call-phone {
    margin-left: 35px;
    position: relative;
}

div.phone {
    z-index: 1;
    background-color: #f50057;
    animation: phone 1 cubic-bezier(0.12, 0.7, 0.74, 0.71) infinite
        alternate-reverse;
    display: grid;
    justify-content: center;
    align-items: center;
    border: 0.5px white solid;
    -webkit-animation: phone 1 cubic-bezier(0.12, 0.7, 0.74, 0.71) infinite
        alternate-reverse;
}

.material-icons {
    color: white;
    font-size: 22px;
}

.call-phone .phone {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #2b5390;
    position: absolute;
    top: 10px;
}

.call-phone .circle1 {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #2b5390;
    position: absolute;
    z-index: 0;
    top: 10px;
    animation: scaling 1.5s cubic-bezier(0.12, 0.7, 0.74, 0.71) infinite;
    -webkit-animation: scaling 1.5s cubic-bezier(0.12, 0.7, 0.74, 0.71) infinite;
}

.call-phone .circle2 {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #2b5390;
    position: absolute;
    z-index: 0;
    top: 10px;
    animation: scaling 1.5s cubic-bezier(0.12, 0.7, 0.74, 0.71) infinite;
    -webkit-animation: scaling 1.5s cubic-bezier(0.12, 0.7, 0.74, 0.71) infinite;
}

@keyframes scaling {
    0% {
        transform: scale(1.5);
        background-color: #2b5390;
        -webkit-transform: scale(1.5);
        -moz-transform: scale(1.5);
        -ms-transform: scale(1.5);
        -o-transform: scale(1.5);
    }
    100% {
        transform: scale(3);
        background-color: #2b539020;
        -webkit-transform: scale(3);
        -moz-transform: scale(3);
        -ms-transform: scale(3);
        -o-transform: scale(3);
    }
}

.call-phone .circle1 {
    animation-delay: 0s;
}

.call-phone .circle2 {
    animation-delay: 0.5s;
}

@media screen and (max-width: 1020px) {
    .showcontent__textcontent h1 {
        margin-bottom: 25px;
        font-size: 40px;
    }

    .showcontent__textcontent .text p {
        font-size: 18px;
        margin-bottom: 35px;
        line-height: 25px;
    }

    .register-btn {
        padding: 10px 50px;
        height: 55px;
    }
}

@media screen and (max-width: 767px) {
    .showcontent__textcontent h1 {
        margin-bottom: 15px;
        font-size: 30px;
    }

    .showcontent__textcontent .text p {
        font-size: 16px;
        margin-bottom: 30px;
    }

    .register-btn {
        padding: 8px 25px;
        height: 45px;
        font-size: 14px;
        line-height: 20px;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
    }

    .call-phone .phone,
    .call-phone .circle1,
    .call-phone .circle2 {
        top: 3px;
        width: 40px;
        height: 40px;
    }
}
